.right-side {
    background-color: #181818;
}

.my-text:hover {

    color: lightblue;
}

.col-md-2 {

    height: 150vh;

    background-color: #282828;

}

.card {
    margin-bottom: 20px;

}

.my-img {
    margin-left: 3rem;
    margin-bottom: 10px;
    height: 80px;
}

.font-style {
    font-family: fantasy;

}

.font-style-right {
    font-family: monospace;

}

.google-img {
    margin-left: 1rem;

    padding-right: 1rem;
    padding-top: 0.5rem;
}

